<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-light">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Data</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis illum necessitatibus qui repudiandae voluptatum. Aut, beatae corporis culpa deleniti mollitia, nihil, perspiciatis quam quibusdam quos soluta suscipit temporibus. Ad at atque consectetur doloremque eius esse, facilis fugiat incidunt ipsa labore nesciunt nisi non odit pariatur quidem quod saepe ullam voluptatibus?</p>
  </div>
</div>
